{% extends 'base.html' %}
{% load static %}
{% block main %}
<main>
    <!-- BLOCKS GUARANTEES START -->
    <div class="blocks_img">
        <div class="blok_img_main">
            <img class="watch_hand" src="./images/hand-watch.png" alt="">
            <div class="link_img">
                <a href="" class="product_heart">
                    <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a href=""><img src="images/icons/cart.svg" alt=""></a>
            </div>
        </div>
        <div class="blok_img_column">
            <div class="blok_first_img">
                <img src="images/bracel.png" alt="">
                <div class="link_img">
                    <a href="" class="product_heart">
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                    stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href="" class="cage"><img src="images/icons/cart.svg" alt=""></a>
                </div>
            </div>
            <div class="blok_first_img">
                <img src="images/serga.png" alt="">
                <div class="link_img">
                    <a href="" class="product_heart">
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                    stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href=""><img src="images/icons/cart.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOCKS GUARANTEES START -->

    <section class="products-section products_section-watches">
        <!-- SECTION QUARTZ EDITION START -->
        <h2 class="main_title text-center">Quartz Edition</h2>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            <a href="#" class="product_card_basket-link basket_icon">
                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                            stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <a class="product_card-detail" href="">
                            <div class="w-100">
                                <img class="product_card-img img-fluid" src="images/products/product1.png" alt="">
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">Lunar Calendar</p>
                                <p class="product_card-desc">Rose Gold Green</p>
                                <p class="product_card-price">$120</p>
                            </div>
                        </a>
                        <a href="" class="product_card-btn">BUY</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            <a href="#" class="product_card_basket-link basket_icon">
                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                            stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <a class="product_card-detail" href="">
                            <div class="w-100">
                                <img class="product_card-img img-fluid" src="images/products/product2.png" alt="">
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">Lunar Calendar</p>
                                <p class="product_card-desc">Rose Gold Green</p>
                                <p class="product_card-price">$120</p>
                            </div>
                        </a>
                        <a href="" class="product_card-btn">BUY</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            <a href="#" class="product_card_basket-link basket_icon">
                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                            stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <a class="product_card-detail" href="">
                            <div class="w-100">
                                <img class="product_card-img img-fluid" src="images/products/product3.png" alt="">
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">Lunar Calendar</p>
                                <p class="product_card-desc">Rose Gold Green</p>
                                <p class="product_card-price">$120</p>
                            </div>
                        </a>
                        <a href="" class="product_card-btn">BUY</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            <a href="#" class="product_card_basket-link basket_icon">
                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                            stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <a class="product_card-detail" href="">
                            <div class="w-100">
                                <img class="product_card-img img-fluid" src="images/products/product4.png" alt="">
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">Lunar Calendar</p>
                                <p class="product_card-desc">Rose Gold Green</p>
                                <p class="product_card-price">$120</p>
                            </div>
                        </a>
                        <a href="" class="product_card-btn">BUY</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION QUARTZ EDITION END -->

        <!-- SECTION AUTOMATIC EDITION START -->
        <h2 class="main_title text-center">Automatic Edition</h2>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            <a href="#" class="product_card_basket-link basket_icon">
                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                            stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <a class="product_card-detail" href="">
                            <div class="w-100">
                                <img class="product_card-img img-fluid" src="images/products/product5.png" alt="">
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">Lunar Calendar</p>
                                <p class="product_card-desc">Rose Gold Green</p>
                                <p class="product_card-price">$120</p>
                            </div>
                        </a>
                        <a href="" class="product_card-btn">BUY</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            <a href="#" class="product_card_basket-link basket_icon">
                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                            stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <a class="product_card-detail" href="">
                            <div class="w-100">
                                <img class="product_card-img img-fluid" src="images/products/product6.png" alt="">
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">Lunar Calendar</p>
                                <p class="product_card-desc">Rose Gold Green</p>
                                <p class="product_card-price">$120</p>
                            </div>
                        </a>
                        <a href="" class="product_card-btn">BUY</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            <a href="#" class="product_card_basket-link basket_icon">
                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                            stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <a class="product_card-detail" href="">
                            <div class="w-100">
                                <img class="product_card-img img-fluid" src="images/products/product7.png" alt="">
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">Lunar Calendar</p>
                                <p class="product_card-desc">Rose Gold Green</p>
                                <p class="product_card-price">$120</p>
                            </div>
                        </a>
                        <a href="" class="product_card-btn">BUY</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            <a href="#" class="product_card_basket-link basket_icon">
                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                            stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <a class="product_card-detail" href="">
                            <div class="w-100">
                                <img class="product_card-img img-fluid" src="images/products/dark_style.png" alt="">
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">Lunar Calendar</p>
                                <p class="product_card-desc">Rose Gold Green</p>
                                <p class="product_card-price">$120</p>
                            </div>
                        </a>
                        <a href="" class="product_card-btn">BUY</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION AUTOMATIC EDITION END -->
    </section>


    <!-- SLIDER BLOCK START -->
    <div class="owl-carousel">
        <div class="owl-carousel_block">
            <h3 class="owl-carousel_block-title">You may also like</h3>
        </div>
        <div class="owl-carousel_block owl-carousel_block-bg">
            <div class="owl-carousel_block-content">
                <img src="images/slider_braceletes.png" alt="">
            </div>
            <a href="" class="owl-carousel_block-hover">
                <p class="owl-carousel_block-desc">Braceletes</p>
            </a>
        </div>
        <div class="owl-carousel_block owl-carousel_block-bg">
            <div class="owl-carousel_block-content">
                <img src="images/slider_chain.png" alt="">
            </div>
            <a href="" class="owl-carousel_block-hover">
                <p class="owl-carousel_block-desc">Chain</p>
            </a>
        </div>
        <div class="owl-carousel_block owl-carousel_block-bg">
            <div class="owl-carousel_block-content">
                <img src="images/slider_rings.png" alt="">
            </div>
            <a href="" class="owl-carousel_block-hover">
                <p class="owl-carousel_block-desc">Rings</p>
            </a>
        </div>
    </div>
    <!-- SLIDER BLOCK END -->

    <!-- BLOCK EMAIL FORM START -->
    <div class="email_form">
        <div class="email_form-block text-center d-flex w-100 h-100 align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="email_form-title">Become part of us!</h3>
                        <p class="email_form-desc">Join us to get discounts, new product releases and new
                            arrivals</p>
                        <form class="d-flex" action="" method="post">
                            <input class="email_form-input flex-grow-1" type="text"
                                   placeholder="Your E-mail address...">
                            <a class="email_form-link" href="">Sign In</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BLOCK EMAIL FORM END -->
</main>
{% endblock main %}
